# =================================================================
# 1. 后端项目 (Spring Boot / Maven / Java)
# =================================================================
**/target/
**/HELP.md
**/.mvn/
**/mvnw
**/mvnw.cmd
**/.apt_generated
**/.classpath
**/.factorypath
**/.project
**/.settings
**/.springBeans
**/.sts4-cache

# =================================================================
# 2. 前端项目 (Vue / Node.js)
# =================================================================
**/node_modules/
**/dist/
**/dist-ssr/
**/*.local
**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*
**/pnpm-debug.log*

# =================================================================
# 3. IDE 配置文件 (IntelliJ IDEA & VS Code & NetBeans)
# =================================================================
**/.idea/
**/*.iws
**/*.iml
**/*.ipr
**/shelf/
**/workspace.xml
**/httpRequests/
**/dataSources/
**/dataSources.local.xml

**/.vscode/
!**/.vscode/extensions.json

**/nbproject/private/
**/nbbuild/
**/nbdist/
**/.nb-gradle/
**/build/

# =================================================================
# 4. 系统及临时文件
# =================================================================
**/.DS_Store
**/Thumbs.db
**/*.suo
**/*.ntvs*
**/*.njsproj
**/*.sln
**/*.sw?
**/logs
**/*.log